<div id="sidebar">
    <mat-nav-list>
        <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a> -->
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/emploi']">
            <mat-icon class="sidenav-icon">people</mat-icon>
            Emploi de temps
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/student']">
            <mat-icon class="sidenav-icon">people</mat-icon>
            Liste des etudiants
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/teacher']">
            <mat-icon class="sidenav-icon">people</mat-icon>
            Liste des enseignants
        </a>

        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/Absenteisme']">
            <mat-icon class="sidenav-icon">people</mat-icon> Absentéisme
        </a>
    </mat-nav-list>
</div>
